	#Top {
		text-align: center;
		display: block;
		color: white;
		font-size: 20px;
		background-color: blue;
		border: 2px solid black;
		opacity: 0.7;
	}
	#PolitecnicoDiMilano {
		display: block;
 	 	margin-left: auto;
  		margin-right: auto;
  		margin-top: 10px;
  		margin-bottom: 10px;
  		border: 3px solid black;
	}
	.BottomImages{
		width: 50%;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		border: 5px solid black;
		float: left;
		margin-top: 20px;
		margin-bottom:20px;
		display: block;
	}
	h1 {
		color: red;
		opacity: 0.7;
		font-size: 40px;
		text-align: center;
		font-weight: bold;
		background-color: yellow;
		border: 2px solid red;
	}
	.WithOverBlue {
		border: 2px solid black;
		color: white;
		background-color: blue;
		font-size: 24px;
		text-align: center;
		opacity: 0.7;
	}
	footer {
		color: white;
		background-color: blue;
		font-size: 15px;
		text-align: right;
		opacity: 0.4;
	}
	h5 {
		color: blue;
		font-size: 15px;
		text-align: center;
		clear: left;
	}
	h4 > ol {
		color: black;
		font-weight: lighter;
		font-size: 18px;
		font-style: italic;
		text-align: all;
		border-width: 250px;
	}
	h4 li {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}
	body {
		background-image: url("https://i.pinimg.com/originals/e1/41/10/e141104d904db44a84f2d16a86d2ae12.jpg");
	}

	h3 ol {
		list-style: none;
	}
	h3 li {
		display: block;
		background-color: cyan;
		text-align: center;
		margin-left: 0px;
		margin-right: 30px;
		margin-top: 4px;
		margin-bottom: 4px;
		border: 2px solid blue;
	}
	h3 li:hover, h3 li:active {
		cursor: pointer;
		background-color: white;
		border: 2px solid cyan;
	}
	#MyBlackboard {
		background-color: black;
		color: gray;
		border: 5px solid brown;
		display: block;
		width: 80%;
		clear: left;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
		position: relative;
		margin-bottom: 20px;
	}

	#MyChalk {
		background-color: white;
		width: 5px;
		height: 60px;
		border: 2px solid grey;
		position: absolute;
		margin: 0;
		float: left;
		top: 10px;
		left: 10px;
	}

	#MyEraser {
		background-color: gray;
		width: 50px;
		height: 50px;
		border: 2px solid white;
		position: absolute;
		margin: 0;
		bottom: 10px;
		right: 10px;
	}

	#MyChalk:hover, #MyEraser:hover {
		cursor: grab;
	}

	#MyChalk:active, #MyEraser:active {
		cursor: grabbing;
	}

	@media (min-width: 1200px) {
		.col-bd-1, .col-bd-2, .col-bd-3, .col-bd-4, .col-bd-5, .col-bd-6, .col-bd-7, .col-bd-8, .col-bd-9, .col-bd-10, .col-bd-11, .col-bd-12 {
			float: left;
			border: 1px solid black;
			background-color: white;
			margin: 0;
			box-sizing: border-box;
			height: 100px;
			text-align: center;
			font-weight: bold;
			font-size:20px;
			font-style: italic;
		}
		.col-bd-1 {
			width: 8.33%;
		}
		.col-bd-2 {
			width: 12.5%;
		}
		.col-bd-3 {
			width: 33.33%;
		}
		.col-bd-4 {
			width: 25%;
		}
		.col-bd-6 {
			width: 50%;
		}
		.col-bd-12 {
			width: 100%;
		}
	}

	@media (min-width: 800px) and (max-width: 1199px) {
		.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
			float: left;
			border: 1px solid black;
			background-color: white;
			margin: 0;
			box-sizing: border-box;
			height: 100px;
			text-align: center;
			font-weight: bold;
			font-size:20px;
			font-style: italic;
		}
		.col-md-1 {
			width: 8.33%;
		}
		.col-md-2 {
			width: 12.5%;
		}
		.col-md-3 {
			width: 33.33%;
		}
		.col-md-4 {
			width: 25%;
		}
		.col-md-6 {
			width: 50%;
		}
		.col-md-12 {
			width: 100%;
		}
	}

	@media (max-width: 799px) {
		#ResponsiveDesign p	{
			border: 1px solid black;
			background-color: white;
			margin: 0;
			box-sizing: border-box;
			height: 100px;
			text-align: center;
			font-weight: bold;
			font-size:20px;
			font-style: italic;
		}
	}